#Banner {
    color: rgb(0, 207, 235);
    max-width: fit-content;
    height: auto; 
    padding: 10px; 
    background-color: rgba(255, 255, 255, 0.8); 
}

#Logo {
    height: 50px;
    width: 50px;
    position:absolute;
    top: 8px;
    left: 16px;
    
}

#container {
    background-color: #abdbe2;
}

body {
    background-color: #626c0d
    ;
}

